<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TicketBookingDB"
       connectionString="Data Source=LAPTOP-R19DI30G ;Initial Catalog=TicketBookingSystem;Integrated Security=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
